<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <% res.redirect('/') %>
<% } %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>


<div class="registration-container">
    <form id="registerForm" action="/account/register" method="post">

        <label for="account_firstname">First Name:</label>
        <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">

        <label for="account_lastname">Last Name:</label>
        <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">

        <label for="account_email">Email Address:</label>
        <input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">

        <label for="account_password">Password:</label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</span>
        <input type="password" id="account_password" name="account_password" placeholder="Enter a strong password">
        
        <button type="submit">Register</button>
    </form>
</div>