
    
<% locals.title = "Inventory Management | CSE 340 App" %>


<main id="inventory-management">
    
    <h1>Inventory Management</h1>

    <!-- Flash message -->
    <% if (locals.message) { %>
        <div class="notice"><%= message %></div>
    <% } %>

    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>
    <h2>Manage Inventory</h2>

    <% if (inventory && inventory.length > 0) { %>
    <ul>
        <% inventory.forEach(item => { %>
        <li>
            <%= item.inv_make %> <%= item.inv_model %>
            — <a href="/inv/edit/<%= item.inv_id %>">Edit</a>
            <a href="/inv/delete/<%= item.inv_id %>">Delete</a>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <p>No inventory items found.</p>
    <% } %>

</main>